@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Source Sans Pro";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf");
}

html,
body,
#root {
  @apply w-screen;
  @apply h-screen;
  @apply select-none;
  font-family: "Source Sans Pro", sans-serif;
  color: #4d4d4d;
  touch-action: manipulation;
  overscroll-behavior: none;
}

#root {
  /* background: #54c3bb
    radial-gradient(circle, #ffffffff 0%, #ffffffdd 72%, #ffffff00 100%) 0% 0%
    no-repeat padding-box; */
  background: rgb(84, 195, 187);
  background: linear-gradient(
    rgba(84, 195, 187, 0.25) 0%,
    rgba(237, 28, 36, 0.07) 42%,
    rgba(84, 195, 187, 0.1) 80%,
    rgba(255, 255, 255, 1) 88%,
    rgba(255, 255, 255, 1) 100%
  );
}

h2 {
  @apply text-center;
  @apply my-2;
  @apply text-xl;
}

button {
  @apply bg-white;
  @apply py-3;
  @apply text-gray-800;
  @apply border;
  @apply border-gray-400;
  @apply font-semibold;
  @apply rounded;
  @apply shadow;
}
button:hover {
  @apply bg-gray-100;
}

button.full {
  @apply w-full;
  @apply mx-auto;
}

.card {
  @apply w-full;
  @apply p-4;
  @apply relative;

  border: double 0.3rem transparent;
  border-radius: 2rem;
  background-image: linear-gradient(white, white),
    linear-gradient(
      129deg,
      rgba(84, 195, 187, 0.5) 0%,
      rgba(65, 155, 150, 0.5) 50%,
      rgba(167, 14, 19, 0.5) 50%,
      rgba(167, 14, 19, 0.5) 54%,
      rgba(237, 28, 36, 0.5) 54%,
      rgba(237, 28, 36, 0.5) 100%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;

  max-width: 300px;
}

.register-button {
  @apply py-1;
  @apply px-2;
  @apply rounded-full;
  border: double 0.3rem transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(
      135deg,
      rgba(237, 28, 36, 1) 0%,
      rgba(167, 14, 19, 1) 50%,
      rgba(65, 155, 150, 1) 50%,
      rgba(65, 155, 150, 1) 60%,
      rgba(84, 195, 187, 1) 60%,
      rgba(84, 195, 187, 1) 100%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.vcontainer {
  @apply flex;
  @apply flex-col;
  @apply justify-around;
  @apply items-center;
  @apply h-full;
  @apply w-full;
  @apply p-4;
}
