@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply w-screen;
  @apply h-screen;
  @apply select-none;
}

.card {
  @apply rounded;
  @apply shadow;
  @apply border;
  @apply border-gray-400;
  @apply w-full;
  @apply p-4;
}

button {
  @apply bg-white;
  @apply py-3;
  @apply text-gray-800;
  @apply border;
  @apply border-gray-400;
  @apply font-semibold;
  @apply rounded;
  @apply shadow;
}
button:hover {
  @apply bg-gray-100;
}

button.full {
  @apply w-full;
  @apply mx-auto;
}
