@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply w-screen;
  @apply h-screen;
  @apply select-none;
}

#root {
  background: #54c3bf
    radial-gradient(circle, #ffffffff 0%, #ffffffdd 72%, #ffffff00 100%) 0% 0%
    no-repeat padding-box;
}

.card {
  @apply w-full;
  @apply p-4;
  @apply relative;

  border: double 0.3rem transparent;
  border-radius: 2rem;
  background-image: linear-gradient(white, white),
    linear-gradient(
      129deg,
      rgba(84, 195, 187, 0.5) 0%,
      rgba(103, 175, 169, 0.5) 50%,
      rgba(167, 14, 19, 0.5) 50%,
      rgba(167, 14, 19, 0.5) 54%,
      rgba(237, 28, 36, 0.5) 54%,
      rgba(237, 28, 36, 0.5) 100%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

button {
  @apply bg-white;
  @apply py-3;
  @apply text-gray-800;
  @apply border;
  @apply border-gray-400;
  @apply font-semibold;
  @apply rounded;
  @apply shadow;
}
button:hover {
  @apply bg-gray-100;
}

button.full {
  @apply w-full;
  @apply mx-auto;
}
